<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzj.vblog.web.mapper.ArticleInformMapper">

    <resultMap id="ArticleInformResult" type="com.jzj.vblog.web.pojo.entity.ArticleInform">
        <id     property="id" column="id" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
        <result property="status"     column="status"      />
        <result property="createBy"   column="create_by"   />
        <result property="articleTitle" column="article_title" />
        <result property="introduce" column="introduce" />
        <result property="logImg" column="log_img" />
        <result property="articleType" column="article_type" />
        <result property="articleTag" column="article_tag" />
        <result property="topStatus" column="top_status" />
        <result property="originStatus" column="origin_status" />
        <result property="commentStatus" column="comment_status" />
        <result property="clickRate" column="click_rate" />
        <result property="numberLike" column="number_like" />
        <result property="aggregateId" column="aggregate_id" />
        <result property="commentNumber" column="comment_number" />
    </resultMap>

    <sql id="ArticleInformVo">
        SELECT id,create_time,update_time,create_by,status,article_title,introduce,log_img,article_type,
            article_tag,top_status,origin_status,comment_status,click_rate,number_like,sort,comment_number
        FROM article_inform
    </sql>

    <select id="selectArticleList" resultType="com.jzj.vblog.web.pojo.entity.ArticleInform">
        <include refid="ArticleInformVo" />
        <where>
            <if test="articleTitle != null and articleTitle != ''">
                AND article_title like concat('%', #{articleTitle}, '%')
            </if>
            <if test="articleType != null and articleType != ''">
                AND article_type = #{articleType}
            </if>
            <if test="articleTag != null and articleTag != ''">
                AND article_tag like concat('%',#{articleTag},'%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="aggregateId != null and aggregateId !=''">
                AND aggregate_id = #{aggregateId}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectPageVo" resultType="com.jzj.vblog.web.pojo.vo.ArticleVo">
        SELECT
        ai.id id,
        ai.top_status isTop,
        ai.log_img logImg,
        ai.create_time pubTime,
        ai.article_title title,
        ai.introduce summary,
        ai.click_rate viewsCount,
        ai.article_tag tagIds,
        ai.create_by createBy,
        ai.number_like numberLike,
        ai.comment_number commentNumber,
        dict.dict_label typeName
        FROM
        article_inform ai
        LEFT JOIN sys_dict_data dict ON dict.dict_type = 'sys_article_type'
        AND dict.dict_value = ai.article_type
        <where>
                ai.`status` = '1'
            <if test="tagId!=null and tagId!=''">
                AND article_tag LIKE concat('%',#{tagId},'%')
            </if>
            <if test="summaryId!=null and summaryId!=''">
                AND aggregate_id LIKE concat('%',#{summaryId},'%')

            </if>
        </where>
        <choose>
            <when test="summaryId!=null and summaryId!=''">
                ORDER BY ai.create_time ASC, ai.sort DESC
            </when>
            <otherwise>
                ORDER BY ai.create_time DESC
            </otherwise>
        </choose>
    </select>
    <select id="selectArticleByIdVo" resultType="com.jzj.vblog.web.pojo.vo.ArticleAddVo" parameterType="java.lang.String">
        SELECT
            ai.id,
            ai.article_title,
            ai.`status`,
            ai.article_type,
            ai.article_tag,
            ai.top_status,
            ai.origin_status,
            ai.comment_status,
            ai.log_img,
            ai.introduce,
            ai.aggregate_id,
            ai.sort,
            ac.content
        FROM
            article_inform ai
                LEFT JOIN article_content ac ON ai.id = ac.id
        WHERE ai.id = #{id}
    </select>
    <select id="selectFrontArticleByIdVo" resultType="com.jzj.vblog.web.pojo.vo.ArticleFrontVo" parameterType="java.lang.String">
        SELECT
            ai.id,
            ai.article_title,
            ai.comment_status,
            ai.update_time,
            ac.html_content,
            ai.click_rate,
            ai.comment_number,
            ai.create_by,
            ai.number_like
        FROM
            article_inform ai
                LEFT JOIN article_content ac ON ai.id = ac.id
        WHERE
            ai.id = #{id}
          AND ai.`status` = '1'
    </select>
    <select id="selectArticleRank" resultType="com.jzj.vblog.web.pojo.vo.ArticleRankVo">
        SELECT article_title,
               click_rate,
               number_like
        FROM article_inform
        ORDER BY click_rate DESC
        LIMIT 7
    </select>
    <select id="selectArticlePopular" resultType="com.jzj.vblog.web.pojo.vo.ArticlePopular">
        SELECT
            id,
            article_title,
            log_img
        FROM
            article_inform
        WHERE
            `status` = '1'
        ORDER BY
            click_rate DESC
        LIMIT 3
    </select>
    <select id="selectFrontArticleHeadByIdVo" resultType="com.jzj.vblog.web.pojo.vo.ArticleHeadVo">
        SELECT
            ai.id,
            ai.article_title,
            ai.article_tag,
            ai.log_img,
            ai.update_time,
            ai.click_rate,
            ai.comment_number,
            ai.create_by
        FROM
            article_inform ai
        WHERE
            ai.id = #{id}
          AND ai.`status` = '1'
    </select>

</mapper>
