<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzj.vblog.web.mapper.ArticleInformMapper">

    <resultMap id="ArticleInformResult" type="com.jzj.vblog.web.pojo.entity.ArticleInform">
        <id     property="id" column="id" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
        <result property="status"     column="status"      />
        <result property="createBy"   column="create_by"   />
        <result property="articleTitle" column="article_title" />
        <result property="introduce" column="introduce" />
        <result property="logImg" column="log_img" />
        <result property="articleType" column="article_type" />
        <result property="articleTag" column="article_tag" />
        <result property="topStatus" column="top_status" />
        <result property="originStatus" column="origin_status" />
        <result property="commentStatus" column="comment_status" />
        <result property="clickRate" column="click_rate" />
        <result property="numberLike" column="number_like" />
        <result property="aggregateId" column="aggregate_id" />
    </resultMap>

    <sql id="ArticleInformVo">
        SELECT id,create_time,update_time,create_by,status,article_title,introduce,log_img,article_type,
            article_tag,top_status,origin_status,comment_status,click_rate,number_like
        FROM article_inform
    </sql>

    <select id="selectArticleList" resultType="com.jzj.vblog.web.pojo.entity.ArticleInform">
        <include refid="ArticleInformVo" />
        <where>
            <if test="articleTitle != null and articleTitle != ''">
                AND article_title like concat('%', #{articleTitle}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectPageVo" resultType="com.jzj.vblog.web.pojo.vo.ArticleVo">
        SELECT
            ai.id id,
            ai.top_status isTop,
            ai.log_img logImg,
            ai.create_time pubTime,
            ai.article_title title,
            ai.introduce summary,
            ai.click_rate viewsCount,
            ai.article_tag tagIds,
            ac.content content,
            dict.dict_label typeName
        FROM
            article_inform ai
                LEFT JOIN article_content ac ON ai.id = ac.id
                LEFT JOIN sys_dict_data dict ON dict.dict_type = 'sys_article_type'
                AND dict.dict_value = ai.article_type
    </select>
    <select id="selectArticleByIdVo" resultType="com.jzj.vblog.web.pojo.vo.ArticleAddVo" parameterType="java.lang.String">
        SELECT
            ai.id,
            ai.article_title,
            ai.`status`,
            ai.article_type,
            ai.article_tag,
            ai.top_status,
            ai.origin_status,
            ai.comment_status,
            ai.log_img,
            ai.introduce,
            ac.content
        FROM
            article_inform ai
                LEFT JOIN article_content ac ON ai.id = ac.id
        WHERE ai.id = #{id}
    </select>
</mapper>
